<% provide(:title, 'Видео') %>
<!DOCTYPE html>
<html>
<body>
	  <div class="mini_block white">
     	<%= render 'refinery/partials/header', :header => "ВИДЕО" %>

		<% youtube.videos.each do |video| %>
			<a href="#" data-toggle="modal" data-target="#Modal<%= video.id %>" style="text-decoration:none">
			<div class="youtube">
			        <%= image_tag(video.thumbnail_url(:medium),class:"image") %>
			    	<h3><%= video.title %></h3>
		    </div>
			</a>
		    <div class="modal fade bs-example-modal-lg" id="Modal<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    		<span aria-hidden="true">&times;</span>
			    	</button>
			        <div class="vid">
					    <%= iframe(video) %>
					</div>
				      <div class="modal-footer">
				      	<a href="https://www.youtube.com/channel/UCzXID9F2yvtdOE-CgrSXAgA" target="_blank"><%= image_tag(youtube.thumbnail_url,class:"avatar") %></a>
				      	<h3><%= video.title %></h3>
				      	<h4><%= video.view_count %> views</h4>
				      </div>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
</body>
