<style>

</style>
<footer class="footer">
		<div class="footer_block">
			<a href="/"><%= image_tag("bely.png",class:"logo") %></a><br>
			Танцевальная студия<br>
			Пн-Пт: с 17:00 до 23:00<br>Сб-Вс: с 11:00 до 23:00<br>
			<%= image_tag("marker.png",class:"icon") %>г.Клин, ул.Карла Маркса, д.6<br>
			<%= image_tag("phone.png",class:"icon") %>+7(903)966-82-67<br>
			<%= image_tag("mail.png",class:"icon") %>whynotklin@gmail.com
		</div>

		<div class="footer_block">
			<div class="footer_link">
				<a href="/teachers">Преподаватели</a>
			</div>
			<div class="footer_link">
		       		<a href="/directions">Обучение</a>
		    	</div>
			<div class="footer_link">
		        	<a href="/contact">Наши координаты</a>
		    	</div>
			<div class="footer_link">
		        	<a href="/schedule">Расписание</a>
		    	</div>
			<div class="footer_link">
		        	<a href="/prices">Цены</a>
		    	</div>
		</div>

		<div class="footer_block">
			<a href="https://vk.com/whynotklin" target="_blank"><%= image_tag("vkw.png",class:"icon_social icon_social_footer") %></a>
	        	<a href="https://www.instagram.com/whynotklin/" target="_blank"><%= image_tag("instagramw.png",class:"icon_social icon_social_footer") %></a>
	        	<a href="https://www.youtube.com/channel/UCzXID9F2yvtdOE-CgrSXAgA" target="_blank"><%= image_tag("youtubew.png",class:"icon_social icon_social_footer") %></a>
			<h4>Разработано в <a href="http://www.realwave.ru" target="_blank"><%= image_tag("realwave.png",class:"icon_social icon_social_footer") %></a></h4>
		</div>
</footer>


